**.txt
ssh-keys
*.pem
.DS_Store
.vscode/

.terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
**/*.tfplan*
.terraformrc
terraform.rc
